div#chatroom-container
  div.row
    div.col-xs-3.col-sm-3.col-md-3
      h3 Connected users:
      div.input-group
        span.input-group-addon
          i.fa.fa-search
        input.form-control(ng-model="query")
      ul.list-group.connected-users
        li.list-group-item(ng-repeat="user in users | filter:{name: query}") {{user.name}}

    div.col-xs-7.col-xs-offset-1.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-1
      h3 Messages:
      ul.chat
        li.chat-message(ng-repeat='message in messages', ng-class="{mine: user.id == message.user.id}")
          p.name {{message.user.name}} :
          p.text {{message.text}}
      form.input-group(ng-submit="addMessage()")
        span.input-group-btn
          input.btn.btn-default.filestyle(type="file",data-input="false", nv-file-select, uploader="{FileUploader}")
        input.form-control(type='text', ng-model='newMessage')
        span.input-group-btn
          input.btn.btn-default(type='submit')
