div.row
  div.col-xs-10.col-sm-6.col-md-4
    h3 What's your name ?
    form.input-group(ng-submit="login()")
      input.form-control(type='text', ng-model='name')
      span.input-group-btn
        input.btn.btn-default(type='submit')
